{% load static %}
<html>
    <head>
        <title>URL Short </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'shortening_service/style.css' %}">
    </head>
    <script>
        function CreateLink() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                }
        };
        xhttp.open("POST", "Your Rest URL Here", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send("Your JSON Data Here");
        }
        function Alert() {
            alert("Test Alert");
        };
    </script>
    <body>
        <div id="main_box">
            <div id="header">
                <h1>URL Short</h1>
            </div>
            <div>
                <p>To generate a short link to your URL simple enter the URL in the source field and click 'Generate'</p>
            </div>
            <div>
                <form method="POST">
                <label>Source - </label>
                <input id="source_link" type="text">
                <button id="generate" role="generate" type="button" onclick="Alert()">Generate!</button>
                </form>
            </div>
            <p>You will then see your generated link below</p>
            <div id="generated_link">

            </div>
        </div>
    </body>
</html>